html, body{
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("https://cdn.imgbin.com/1/1/23/imgbin-leaf-background-decoration-material-9ibEQ3WCQWQbRDgFpT1d06Y7a.jpg");
    height: 100px;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 


  }
  .content {
    padding: 20px;
    min-height: 100%;
    margin: 0 auto -50px;
  }


  main {
    flex: 1 0 auto;
    
  }

  .footer,.push{
      height: 100px;
  }

img{
  height: 200px;
  width: 200px;
}

/* li{
  text-decoration: none;
  list-style: none;
}

.survey h3{
margin: 10px;
cursor: pointer;
}

.survey li:hover{
  background: cornflowerblue;
  width: 150px;
  margin: 0 auto;
  padding: 4px;
  border-radius: 3px;
  transition: 0.3s ease;
  box-shadow: 1px 1px 7px rgba(0,0, 0, 0.4);

}

.end {
  background: cornflowerblue;
  width: 300px;
  margin: 0 auto;
  padding: 4px;
  border-radius: 3px;
  box-shadow: 1px 1px 7px rgba(0,0, 0, 0.4);
}

.end h1{
  margin: 5px;
}

.end p {
  padding: 10px;
}

.end a {
  display: inline-block;
  margin-top: 10px;
  padding: 5px;
  border-radius: 4px;
  background: rgb(61,61,61);
  outline: none;
}

.end a:hover {
  box-shadow: 1px 1px 7px rgba(0,0, 0, 0.404);
  transition: 0.3s;

}

.q1 {
  display: block;
}

.q2{
  display: none;
}

.q3{
  display: none;
}

.end{
  display: none;
} */