
  .input {
   background-color: rgb(168, 206, 175);
    height: 50px;
    width: 80%;
   margin-left: 60px;


  }

.left-align {
  margin-left: 60px;
}


.col {
height: 60px;
align-items: center;
}

  html, body{
    height: 100%;
    margin: 0;
}

body:not(.plants) {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url("https://cdn.imgbin.com/1/1/23/imgbin-leaf-background-decoration-material-9ibEQ3WCQWQbRDgFpT1d06Y7a.jpg");
    height: 100px;
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 


  }
  .content {
    padding: 10px;
    min-height: 100%;
 
  }


  main {
    flex: 1 0 auto;
    
  }

  .footer,.push{
      height: 100px;
  }
